<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Library Management</title>

    <!-- BOOTSTRAP -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body>

<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">

        <!-- LOGO -->

        <a class="navbar-brand"
           href="{{ url_for('homepage') }}">

            My Library

        </a>

        <!-- MOBILE BUTTON -->

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- NAV LINKS -->

        <div class="collapse navbar-collapse"
             id="navbarNav">

            <ul class="navbar-nav">

                <!-- HOME -->

                <li class="nav-item">

                    <a class="nav-link"
                       href="{{ url_for('home') }}">

                        Home

                    </a>

                </li>

                <!-- ABOUT -->

                <li class="nav-item">

                    <a class="nav-link"
                       href="{{ url_for('about') }}">

                        About

                    </a>

                </li>

                <!-- CONTACT -->

                <li class="nav-item">

                    <a class="nav-link"
                       href="{{ url_for('contact') }}">

                        Contact

                    </a>

                </li>

                <!-- CRUD HOME -->

                
                <!-- BOOK DETAILS -->

                <li class="nav-item">

                    <a class="nav-link"
                       href="{{ url_for('book_details') }}">

                        Book Details

                    </a>

                </li>

                <!-- ADD BOOK -->

                <li class="nav-item">

                    <a class="nav-link"
                       href="{{ url_for('add_book') }}">

                        Add Book

                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>

<!-- PAGE CONTENT -->

<div class="container mt-5">

    {% block content %}

    {% endblock %}

</div>

<!-- BOOTSTRAP JS -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>